In [249]:
import re

def convert_s_expression_to_sparql_1(s_expression):
    pattern = r"\( ASK \( AND \( (\w+) (\w+) (\w+) \) \( \1 \2 (\w+) \) \) \)"
    match = re.match(pattern, s_expression)
    
    if match:
        entity, predicate, obj1, obj2 = match.groups()
        return f"ASK WHERE {{ wd:{entity} wdt:{predicate} wd:{obj1} . wd:{entity} wdt:{predicate} wd:{obj2} }}"
    
    return None

In [250]:
def convert_s_expression_to_sparql_2(s_expression):
    pattern = r"\( MAX \( JOIN \( R (\w+) \) \( JOIN (\w+) (\w+) \) \) \)"
    match = re.match(pattern, s_expression)
    
    if match:
        rel2, rel1, type_entity = match.groups()
        return f"SELECT ?ent WHERE {{ ?ent wdt:{rel1} wd:{type_entity} . ?ent wdt:{rel2} ?obj }} ORDER BY DESC(?obj) LIMIT 5"
    
    return None

# Test case
s_expression = "( MAX ( JOIN ( R P2406 ) ( JOIN P31 Q21009056 ) ) )"
sparql_query = convert_s_expression_to_sparql_2(s_expression)
print(sparql_query)

SELECT ?ent WHERE { ?ent wdt:P31 wd:Q21009056 . ?ent wdt:P2406 ?obj } ORDER BY DESC(?obj) LIMIT 5

In [251]:

def convert_s_expression_to_sparql_3(s_expression):
    pattern = r"\( JOIN \( R (\w+) \) \( JOIN \( R (\w+) \) (\w+) \) \)"
    match = re.match(pattern, s_expression)
    
    if match:
        rel2, rel1, entity = match.groups()
        return f"SELECT ?answer WHERE {{ wd:{entity} wdt:{rel1} ?X . ?X wdt:{rel2} ?answer }}"
    
    return None

# Test case
s_expression = "( JOIN ( R P684 ) ( JOIN ( R P2293 ) Q36956 ) )"
sparql_query = convert_s_expression_to_sparql_3(s_expression)
print(sparql_query)

SELECT ?answer WHERE { wd:Q36956 wdt:P2293 ?X . ?X wdt:P684 ?answer }

In [252]:
def convert_s_expression_to_sparql_4(s_expression):
    pattern = r"\( AND \( JOIN \( R (\w+) \) (\w+) \) \( JOIN (\w+) (\w+) \) \)"
    match = re.match(pattern, s_expression)
    
    if match:
        rel1, en1, rel2, en2 = match.groups()
        return f"SELECT DISTINCT ?obj WHERE {{ wd:{en1} wdt:{rel1} ?obj . ?obj wdt:{rel2} wd:{en2} }}"
    
    return None

# Test case
s_expression = "( AND ( JOIN ( R P176 ) Q2813 ) ( JOIN P31 Q891723 ) )"
sparql_query = convert_s_expression_to_sparql_4(s_expression)
print(sparql_query)

SELECT DISTINCT ?obj WHERE { wd:Q2813 wdt:P176 ?obj . ?obj wdt:P31 wd:Q891723 }

In [253]:
def convert_s_expression_to_sparql_5(s_expression):
    pattern = r"\( MIN \( JOIN \( R (\w+) \) \( AND \( JOIN (\w+) (\w+) \) \( JOIN (\w+) (\w+) \) \) \) \)"
    match = re.match(pattern, s_expression)
    
    if match:
        rel, rel1, obj1, rel2, obj2 = match.groups()
        return f"SELECT ?ent WHERE {{ ?ent wdt:{rel1} wd:{obj1} . ?ent wdt:{rel} ?obj . ?ent wdt:{rel2} wd:{obj2} }} ORDER BY ASC(?obj) LIMIT 5"
    
    return None

# Test case
s_expression = "( MIN ( JOIN ( R P1356 ) ( AND ( JOIN P31 Q500834 ) ( JOIN P276 Q664 ) ) ) )"
sparql_query = convert_s_expression_to_sparql_5(s_expression)
print(sparql_query)

SELECT ?ent WHERE { ?ent wdt:P31 wd:Q500834 . ?ent wdt:P1356 ?obj . ?ent wdt:P276 wd:Q664 } ORDER BY ASC(?obj) LIMIT 5

In [ ]:
def convert_s_expression_to_sparql_6(s_expression):
    pattern = r"\( MAX \( JOIN \( R (\w+) \) \( AND \( JOIN (\w+) (\w+) \) \( JOIN (\w+) (\w+) \) \) \) \)"
    match = re.match(pattern, s_expression)
    
    if match:
        rel, rel1, obj1, rel2, obj2 = match.groups()
        return f"SELECT ?ent WHERE {{ ?ent wdt:{rel1} wd:{obj1} . ?ent wdt:{rel} ?obj . ?ent wdt:{rel2} wd:{obj2} }} ORDER BY DESC(?obj) LIMIT 5"
    
    return None

# Test case
s_expression = "( MAX ( JOIN ( R P2630 ) ( AND ( JOIN P31 Q8092 ) ( JOIN P910 Q8528870 ) ) ) )"
sparql_query = convert_s_expression_to_sparql_6(s_expression)
print(sparql_query)

SELECT ?ent WHERE { ?ent wdt:P31 wd:Q8092 . ?ent wdt:P2630 ?obj . ?ent wdt:P910 wd:Q8528870 } ORDER BY DESC(?obj) LIMIT 5

In [255]:
def convert_s_expression_to_sparql_7(s_expression):
    pattern = r"\( JOIN (\w+) (\w+) \)"
    match = re.match(pattern, s_expression)
    
    if match:
        predicate, obj = match.groups()
        return f"SELECT DISTINCT ?answer WHERE {{ ?answer wdt:{predicate} wd:{obj} }}"
    
    return None

# Test case
s_expression = "( JOIN P1479 Q83437 )"
sparql_query = convert_s_expression_to_sparql_7(s_expression)
print(sparql_query)

SELECT DISTINCT ?answer WHERE { ?answer wdt:P1479 wd:Q83437 }

In [ ]:
def convert_s_expression_to_sparql_8(s_expression):
    pattern = r"\( JOIN \( R (\w+) \) \( AND \( JOIN \( R \1 \) (\w+) \) \( JOIN (\w+) (\w+) \) \) \)"
    match = re.match(pattern, s_expression)
    
    if match:
        pred, entity, qualifier, qual_obj = match.groups()
        return f"SELECT ?obj WHERE {{ wd:{entity} p:{pred} ?s . ?s ps:{pred} ?obj . ?s pq:{qualifier} wd:{qual_obj} }}"
    
    return None

# Test case
s_expression = "( JOIN ( R P1411 ) ( AND ( JOIN ( R P1411 ) Q273978 ) ( JOIN P805 Q751924 ) ) )"
sparql_query = convert_s_expression_to_sparql_8(s_expression)
print(sparql_query)

SELECT ?obj WHERE { wd:Q273978 p:P1411 ?s . ?s ps:P1411 ?obj . ?s pq:P805 wd:Q751924 }

In [257]:

def convert_s_expression_to_sparql_9(s_expression):
    pattern = r"\( JOIN \( R (\w+) \) \( AND \( JOIN \( R (\w+) \) (\w+) \) \( JOIN \2 (\w+) \) \) \)"
    match = re.match(pattern, s_expression)
    
    if match:
        qualifier, pred, entity, obj = match.groups()
        return f"SELECT ?value WHERE {{ wd:{entity} p:{pred} ?s . ?s ps:{pred} wd:{obj} . ?s pq:{qualifier} ?value }}"
    
    return None

# Test case
s_expression = "( JOIN ( R P512 ) ( AND ( JOIN ( R P69 ) Q8027 ) ( JOIN P69 Q687514 ) ) )"
sparql_query = convert_s_expression_to_sparql_9(s_expression)
print(sparql_query)

SELECT ?value WHERE { wd:Q8027 p:P69 ?s . ?s ps:P69 wd:Q687514 . ?s pq:P512 ?value }

In [ ]:
def convert_s_expression_to_sparql_10(s_expression):
    pattern = r"\( AND \( JOIN (\w+) (\w+) \) \( JOIN (\w+) (\w+) \) \)"
    match = re.match(pattern, s_expression)
    
    if match:
        pred, obj, p2, type_obj = match.groups()
        return f"SELECT DISTINCT ?sbj WHERE {{ ?sbj wdt:{pred} wd:{obj} . ?sbj wdt:{p2} wd:{type_obj} }}"
    
    return None

# Test case
s_expression = "( AND ( JOIN P101 Q161437 ) ( JOIN P31 Q5 ) )"
sparql_query = convert_s_expression_to_sparql_10(s_expression)
print(sparql_query)

SELECT DISTINCT ?sbj WHERE { ?sbj wdt:P101 wd:Q161437 . ?sbj wdt:P31 wd:Q5 }

In [259]:
def convert_s_expression_to_sparql_11(s_expression):
    pattern = r"\( AND \( JOIN \( R (\w+) \) (\w+) \) \( JOIN (\w+) (\w+) \) \)"
    match = re.match(pattern, s_expression)
    
    if match:
        rel1, entity, rel2, obj = match.groups()
        return f"SELECT ?answer WHERE {{ wd:{entity} wdt:{rel1} ?answer . ?answer wdt:{rel2} wd:{obj} }}"
    
    return None

# Test case
s_expression = "( AND ( JOIN ( R P400 ) Q126194 ) ( JOIN P747 Q483881 ) )"
sparql_query = convert_s_expression_to_sparql_11(s_expression)
print(sparql_query)

SELECT ?answer WHERE { wd:Q126194 wdt:P400 ?answer . ?answer wdt:P747 wd:Q483881 }

In [260]:
def convert_s_expression_to_sparql_12(s_expression):
    pattern = r"\( ASK \( (\=|>=|<=|>|<) \( JOIN \( R (\w+) \) (\w+) \) (\d+(\.\d+)?) \) \)"
    match = re.match(pattern, s_expression)
    
    if match:
        operator, predicate, entity, value, _ = match.groups()
        return f"ASK WHERE {{ wd:{entity} wdt:{predicate} ?obj filter(?obj {operator} {value}) }}"
    
    return None

# Test case
s_expression = "( ASK ( > ( JOIN ( R P1357 ) Q41485581 ) 25 ) )"
sparql_query = convert_s_expression_to_sparql_12(s_expression)
print(sparql_query)

ASK WHERE { wd:Q41485581 wdt:P1357 ?obj filter(?obj > 25) }

In [261]:
def convert_s_expression_to_sparql_13(s_expression):
    pattern = r"\( JOIN \( R (\w+) \) (\w+) \) \( JOIN \( R (\w+) \) \2 \)"
    match = re.match(pattern, s_expression)
    
    if match:
        pred1, entity, pred2 = match.groups()
        return f"SELECT ?ans_1 ?ans_2 WHERE {{ wd:{entity} wdt:{pred1} ?ans_1 . wd:{entity} wdt:{pred2} ?ans_2 }}"
    
    return None

# Test case
s_expression = "( JOIN ( R P190 ) Q18432 ) ( JOIN ( R P131 ) Q18432 )"
sparql_query = convert_s_expression_to_sparql_13(s_expression)
print(sparql_query)

SELECT ?ans_1 ?ans_2 WHERE { wd:Q18432 wdt:P190 ?ans_1 . wd:Q18432 wdt:P131 ?ans_2 }

In [ ]:
def convert_s_expression_to_sparql_14(s_expression):
    pattern = r"\( COUNT \( JOIN (\w+) (\w+) \) \)"
    match = re.match(pattern, s_expression)
    
    if match:
        predicate, obj = match.groups()
        return f"SELECT (COUNT(?sub) AS ?value ) {{ ?sub wdt:{predicate} wd:{obj} }}"
    
    return None

# Test case
s_expression = "( COUNT ( JOIN P201 Q104437 ) )"
sparql_query = convert_s_expression_to_sparql_14(s_expression)
print(sparql_query)

SELECT (COUNT(?sub) AS ?value ) { ?sub wdt:P201 wd:Q104437 }

In [263]:
def convert_s_expression_to_sparql_15(s_expression):
    pattern = r"\( COUNT \( JOIN \( R (\w+) \) (\w+) \) \)"
    match = re.match(pattern, s_expression)
    
    if match:
        predicate, entity = match.groups()
        return f"SELECT (COUNT(?obj) AS ?value ) {{ wd:{entity} wdt:{predicate} ?obj }}"
    
    return None

# Test case
s_expression = "( COUNT ( JOIN ( R P1121 ) Q670 ) )"
sparql_query = convert_s_expression_to_sparql_15(s_expression)
print(sparql_query)

SELECT (COUNT(?obj) AS ?value ) { wd:Q670 wdt:P1121 ?obj }

In [264]:
def convert_s_expression_to_sparql_16(s_expression):
    pattern = r"\( JOIN \( R (\w+) \) (\w+) \)"
    match = re.match(pattern, s_expression)
    
    if match:
        predicate, entity = match.groups()
        return f"SELECT DISTINCT ?answer WHERE {{ wd:{entity} wdt:{predicate} ?answer }}"
    
    return None

# Test case
s_expression = "( JOIN ( R P2363 ) Q309153 )"
sparql_query = convert_s_expression_to_sparql_16(s_expression)
print(sparql_query)

SELECT DISTINCT ?answer WHERE { wd:Q309153 wdt:P2363 ?answer }

In [265]:
def convert_s_expression_to_sparql_17(s_expression):
    pattern = r"\( CHAR \( AND \( JOIN (\w+) (\w+) \) \( JOIN (\w+) (\w+) \) \) ['\"](.*?)['\"] \)"
    match = re.match(pattern, s_expression)
    
    if match:
        pred1, obj1, pred2, obj2, char = match.groups()
        return f"""SELECT DISTINCT ?sbj ?sbj_label WHERE {{ 
            ?sbj wdt:{pred1} wd:{obj1} . 
            ?sbj wdt:{pred2} wd:{obj2} . 
            ?sbj rdfs:label ?sbj_label . 
            FILTER(STRSTARTS(lcase(?sbj_label), '{char}')) . 
            FILTER (lang(?sbj_label) = 'en') 
        }} LIMIT 25"""
    
    return None

# Test case
s_expression = "( CHAR ( AND ( JOIN P31 Q403523 ) ( JOIN P155 Q188654 ) ) 'c' )"
sparql_query = convert_s_expression_to_sparql_17(s_expression)
print(sparql_query)

SELECT DISTINCT ?sbj ?sbj_label WHERE {
            ?sbj wdt:P31 wd:Q403523 .
            ?sbj wdt:P155 wd:Q188654 .
            ?sbj rdfs:label ?sbj_label .
            FILTER(STRSTARTS(lcase(?sbj_label), 'c')) .
            FILTER (lang(?sbj_label) = 'en')
        } LIMIT 25

In [ ]:
def convert_s_expression_to_sparql_18(s_expression):
    pattern = r"\( ASK \( (\w+) (\w+) (\w+) \) \)"
    match = re.match(pattern, s_expression)
    
    if match:
        entity, predicate, obj = match.groups()
        return f"ASK WHERE {{ wd:{entity} wdt:{predicate} wd:{obj} }}"
    
    return None

# Test case
s_expression = "( ASK ( Q56008 P451 Q242015 ) )"
sparql_query = convert_s_expression_to_sparql_18(s_expression)
print(sparql_query)

ASK WHERE { wd:Q56008 wdt:P451 wd:Q242015 }

In [267]:
def convert_s_expression_to_sparql_19(s_expression):
    pattern = r"\( WORD \( JOIN (\w+) (\w+) \) ['\"](.*?)['\"] \)"
    match = re.match(pattern, s_expression)
    
    if match:
        predicate, obj, word = match.groups()
        return f"""SELECT DISTINCT ?sbj ?sbj_label WHERE {{ 
            ?sbj wdt:{predicate} wd:{obj} . 
            ?sbj rdfs:label ?sbj_label . 
            FILTER(CONTAINS(lcase(?sbj_label), '{word}')) . 
            FILTER (lang(?sbj_label) = 'en') 
        }} LIMIT 25"""
    
    return None

# Test case
s_expression = "( WORD ( JOIN P31 Q755707 ) 'øyer' )"
sparql_query = convert_s_expression_to_sparql_19(s_expression)
print(sparql_query)

SELECT DISTINCT ?sbj ?sbj_label WHERE {
            ?sbj wdt:P31 wd:Q755707 .
            ?sbj rdfs:label ?sbj_label .
            FILTER(CONTAINS(lcase(?sbj_label), 'øyer')) .
            FILTER (lang(?sbj_label) = 'en')
        } LIMIT 25

In [268]:
def convert_s_expression_to_sparql_20(s_expression):
    pattern = r"\( JOIN \( R (\w+) \) \( JOIN \( R (\w+) \) (\w+) \) \)"
    match = re.match(pattern, s_expression)
    
    if match:
        rel2, rel1, entity = match.groups()
        return f"SELECT ?answer WHERE {{ wd:{entity} wdt:{rel1} ?X . ?X wdt:{rel2} ?answer }}"
    
    return None

# Test case
s_expression = "( JOIN ( R P105 ) ( JOIN ( R P171 ) Q10640455 ) )"
sparql_query = convert_s_expression_to_sparql_20(s_expression)
print(sparql_query)

SELECT ?answer WHERE { wd:Q10640455 wdt:P171 ?X . ?X wdt:P105 ?answer }

In [ ]:
def convert_s_expression_to_sparql_21(s_expression):
    pattern = r"\( JOIN \( R (\w+) \) \( FILTER \( JOIN \( R (\w+) \) \( JOIN \( R (\w+) \) (\w+) \) \) \( ['\"](.*?)['\"] \) \) \)"
    match = re.match(pattern, s_expression)
    
    if match:
        pred1, pred2, pred3, entity, value = match.groups()
        return f"""SELECT ?obj WHERE {{ 
            wd:{entity} p:{pred1} ?s . 
            ?s ps:{pred1} ?obj . 
            ?s pq:{pred2} ?x filter(contains(?x,'{value}')) 
        }}"""
    
    return None

# Test case
s_expression = "( JOIN ( R P735 ) ( FILTER ( JOIN ( R P1545 ) ( JOIN ( R P735 ) Q43067 ) ) ( '1' ) ) )"

sparql_query = convert_s_expression_to_sparql_21(s_expression)
print(sparql_query)

SELECT ?obj WHERE {
            wd:Q43067 p:P735 ?s .
            ?s ps:P735 ?obj .
            ?s pq:P1545 ?x filter(contains(?x,'1'))
        }

In [270]:

def convert_s_expression_to_sparql_22(s_expression):
    pattern = r"\( JOIN \( R (\w+) \) \( FILTER \( JOIN \( R (\w+) \) (\w+) \) \( ['\"](.*?)['\"] \) \) \)"
    match = re.match(pattern, s_expression)
    
    if match:
        rel1, rel2, entity, value = match.groups()
        return f"""SELECT ?answer WHERE {{ 
            wd:{entity} wdt:{rel1} ?answer . 
            ?answer wdt:{rel2} ?x FILTER(contains(?x,'{value}')) 
        }}"""
    
    return None

# Test case
s_expression = "( JOIN ( R P19 ) ( FILTER ( JOIN ( R P1082 ) Q77117 ) ( '101165.0' ) ) )"

sparql_query = convert_s_expression_to_sparql_22(s_expression)
print(sparql_query)

SELECT ?answer WHERE {
            wd:Q77117 wdt:P19 ?answer .
            ?answer wdt:P1082 ?x FILTER(contains(?x,'101165.0'))
        }

In [271]:
def convert_s_expression_to_sparql_23(s_expression):
    pattern = r"\( JOIN \( R (\w+) \) \( FILTER \( JOIN \( R (\w+) \) \( JOIN \( R (\w+) \) (\w+) \) \) \( ['\"](.*?)['\"] \) \) \)"
    match = re.match(pattern, s_expression)
    
    if match:
        pred1, pred2, pred3, entity, value = match.groups()
        return f"""SELECT ?obj WHERE {{ 
            wd:{entity} p:{pred3} ?s . 
            ?s ps:{pred3} ?obj . 
            ?s pq:{pred2} ?x filter(contains(YEAR(?x),'{value}')) 
        }}"""
    
    return None

# Test case
s_expression = "( JOIN ( R P1082 ) ( FILTER ( JOIN ( R P585 ) ( JOIN ( R P1082 ) Q1045 ) ) ( '2009' ) ) )"
sparql_query = convert_s_expression_to_sparql_23(s_expression)
print(sparql_query)

SELECT ?obj WHERE {
            wd:Q1045 p:P1082 ?s .
            ?s ps:P1082 ?obj .
            ?s pq:P585 ?x filter(contains(YEAR(?x),'2009'))
        }

In [272]:
def convert_s_expression_to_sparql_24(s_expression):
    pattern = r"\( FILTER \( JOIN \( R (\w+) \) \( JOIN \( R (\w+) \) (\w+) \) \) \( YEAR ['\"](.*?)['\"] \) \)"
    match = re.match(pattern, s_expression)
    
    if match:
        rel2, rel1, entity, value = match.groups()
        return f"""SELECT ?answer WHERE {{ 
            wd:{entity} wdt:{rel1} ?answer . 
            ?answer wdt:{rel2} ?x FILTER(contains(YEAR(?x),'{value}')) 
        }}"""
    
    return None

# Test case
s_expression = "( FILTER ( JOIN ( R P570 ) ( JOIN ( R P138 ) Q860385 ) ) ( YEAR '1602' ) )"
sparql_query = convert_s_expression_to_sparql_24(s_expression)
print(sparql_query)

SELECT ?answer WHERE {
            wd:Q860385 wdt:P138 ?answer .
            ?answer wdt:P570 ?x FILTER(contains(YEAR(?x),'1602'))
        }

In [273]:

def convert_s_expression_to_sparql_25(s_expression):
    pattern = r"\( WORD \( JOIN (\w+) (\w+) \) ['\"](.*?)['\"] \)"
    match = re.match(pattern, s_expression)
    
    if match:
        predicate, obj, word = match.groups()
        return f"""SELECT DISTINCT ?sbj ?sbj_label WHERE {{ 
            ?sbj wdt:{predicate} wd:{obj} . 
            ?sbj rdfs:label ?sbj_label . 
            FILTER(STRSTARTS(lcase(?sbj_label), '{word}')) . 
            FILTER (lang(?sbj_label) = 'en') 
        }} LIMIT 25"""
    
    return None

# Test case
s_expression = "( WORD ( JOIN P31 Q11410 ) 'z' )"
sparql_query = convert_s_expression_to_sparql_25(s_expression)
print(sparql_query)

SELECT DISTINCT ?sbj ?sbj_label WHERE {
            ?sbj wdt:P31 wd:Q11410 .
            ?sbj rdfs:label ?sbj_label .
            FILTER(STRSTARTS(lcase(?sbj_label), 'z')) .
            FILTER (lang(?sbj_label) = 'en')
        } LIMIT 25

In [274]:
conversion_functions = [
    convert_s_expression_to_sparql_1, convert_s_expression_to_sparql_2, convert_s_expression_to_sparql_3,
    convert_s_expression_to_sparql_4, convert_s_expression_to_sparql_5, convert_s_expression_to_sparql_6,
    convert_s_expression_to_sparql_7, convert_s_expression_to_sparql_8, convert_s_expression_to_sparql_9,
    convert_s_expression_to_sparql_10, convert_s_expression_to_sparql_11, convert_s_expression_to_sparql_12,
    convert_s_expression_to_sparql_13, convert_s_expression_to_sparql_14, convert_s_expression_to_sparql_15,
    convert_s_expression_to_sparql_16, convert_s_expression_to_sparql_17, convert_s_expression_to_sparql_18,
    convert_s_expression_to_sparql_19, convert_s_expression_to_sparql_20, convert_s_expression_to_sparql_21,
    convert_s_expression_to_sparql_22, convert_s_expression_to_sparql_23, convert_s_expression_to_sparql_24,
    convert_s_expression_to_sparql_25
]

def convert_s_expression_to_sparql(s_expression):
    """
    Chuyển đổi S-expression sang SPARQL bằng cách thử từng template phù hợp.
    """
    for func in conversion_functions:
        sparql_query = func(s_expression)
        if sparql_query:
            return sparql_query  # Trả về SPARQL nếu có kết quả hợp lệ

    return "UNKNOWN"  # Trả về UNKNOWN nếu không khớp với bất kỳ mẫu nào

# Ví dụ kiểm thử
test_s_expressions = [
    "( COUNT ( JOIN ( R P1029 ) Q190776 ) )",
]

for s_exp in test_s_expressions:
    sparql_result = convert_s_expression_to_sparql(s_exp)
    print(f"S-expression: {s_exp}")
    print(f"SPARQL: {sparql_result}\n")

S-expression: ( COUNT ( JOIN ( R P1029 ) Q190776 ) )
SPARQL: SELECT (COUNT(?obj) AS ?value ) { wd:Q190776 wdt:P1029 ?obj }

In [276]:
import json

def check_s_expression_conversion(input_file, output_file):
    with open(input_file, 'r', encoding='utf-8') as f:
        data = json.load(f)

    failed_conversions = []  # Danh sách các mục không thể chuyển đổi

    for entry in data:
        s_expression = entry.get("s_expression", "")
        sparql_query = convert_s_expression_to_sparql(s_expression)

        if sparql_query == "UNKNOWN":
            failed_conversions.append(entry)  # Lưu lại mục không thể chuyển đổi

    # Ghi các mục không thể chuyển đổi vào file .txt
    with open(output_file, 'w', encoding='utf-8') as f:
        if failed_conversions:
            f.write("⚠️ Các điểm dữ liệu không thể chuyển đổi:\n\n")
            for entry in failed_conversions:
                f.write(json.dumps(entry, indent=4, ensure_ascii=False) + "\n\n")
        else:
            f.write("✅ Tất cả dữ liệu đã được chuyển đổi thành công!\n")

    print(f"✅ Kiểm tra hoàn tất. Kết quả được lưu vào {output_file}")

# Run check
input_file = "train_with_s_expression.json"
output_file = "failed_conversions.txt"
check_s_expression_conversion(input_file, output_file)

✅ Kiểm tra hoàn tất. Kết quả được lưu vào failed_conversions.txt